body{
    background-image: url(./assets/fluid256.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    ;
  
    position: fixed;

    
    
}
h1{
    color:#ffffff;
    display: center;
}

a{
    color:#ffffff;
    display: center;
    font-family: 'Poppins', sans-serif;
    padding: 40px;
    margin:10px;
    font-size: 18px;
    transition:hover 10px;
    

}
nav{
    padding-left: 80px;
}
